body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'Times New Roman', Times, serif ;
    background-image: url('https://i.pinimg.com/originals/df/02/b3/df02b3c8b8d13dd27c0635467aa8faeb.gif'), linear-gradient(to top, #e8c5ff, #e7c2ff, #dda9ff);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: repeat;
    color: #b22cff;
}

.glass {
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    background: rgba(220, 130, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 2px solid rgba(170, 77, 255, 0.5);
    box-shadow: 0 0 50px rgba(204, 128, 255, 0.438);
    text-align: center;
}

h1,
h2 {
    color: #0c001d;
    text-shadow: 2px 2px 15px #deaaff;
    font-weight: bold;
}

p {
    color: #0c001d;
    font-size: 1.1em;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: #0c001d;
    background: linear-gradient(145deg, #bb68ff, #bb68ff);
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 0px 4px 10px #270047;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

nav a:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 20px rgba(255, 255, 255, 0.5);
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #0c001d;
}

.linguagens {
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(145deg, #bb68ff, #bb68ff);
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 5px 15px #270047;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 20s linear infinite;
    font-size: 1.2em;
    font-weight: bold;
    color: #0c001d;
    text-shadow: 2px 2px 8px rgba(147, 41, 198, 0.8);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
